<div class="container mt-5">
  <h4>
    Internal Server Error - refreshing the page will make the exception
    disappear.
  </h4>
  <ng-container *ngIf="error">
    <div>
      <h5 class="text-danger">Error: {{ error.message }}</h5>
      <p class="font-weight-bold">
        Note: if you are seeing this error - it was caused by the server.
      </p>
      <p>What to do next?</p>
      <ol>
        <li>Open Chrome dev tools</li>
        <li>inspect the network tab</li>
        <li>check the failing request</li>
        <li>Examine request URL and correct</li>
        <li>reproduce error in Postman... the error is not on client side</li>
      </ol>
      <p>Stack Trace</p>
      <code class="mt-5" style="background-color: white-smote;">{{
        error.details
      }}</code>
    </div>
  </ng-container>
</div>
