<section class="py-5" style="margin-top: 105px; background-color: #f5f5f5;">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-9">
        <h1>Title</h1>
      </div>
      <div class="col-3">
      </div>
    </div>
  </div>
</section>
